<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.frotareal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />
    <permission
			android:name="com.example.frotareal.permission.MAPS_RECEIVE"
			android:protectionLevel="signature" />
	<uses-permission android:name="com.example.frotareal.permission.MAPS_RECEIVE" />	
	<uses-permission android:name="android.permission.INTERNET"/>	
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
         <meta-data
			android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyAWjoeaiU1M_NoVuch-DDYDdu8e0jy7u2k" />
         
         
        <activity
            android:name=".atividades.TelaInicialFrota"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".atividades.TeladCadastro"
            android:label="@string/title_activity_tela_cadastro" >
        </activity>
        <activity
            android:name=".atividades.DadosParaManutencao"
            android:label="@string/title_activity_dados_para_manutencao" >
        </activity>
        <activity
            android:name=".atividades.DadosParaManutencao2"
            android:label="@string/title_activity_dados_para_manutencao2" >
        </activity>
        <activity
            android:name=".atividades.DadosParaManutencao3"
            android:label="@string/title_activity_dados_para_manutencao3" >
        </activity>
        <activity
            android:name=".atividades.RelatorioManutencao"
            android:label="@string/title_activity_relatorio_manutencao" >
        </activity>
        <activity
            android:name=".atividades.ListaEquipamentos"
            android:label="@string/title_activity_lista_equipamentos" >
        </activity>
        <activity
            android:name="com.example.frotareal.atividades.TelaAlteraCadastro"
            android:label="@string/title_activity_tela_altera_cadastro" >
        </activity>
    </application>

</manifest>
